body {
  margin: 0px;
  font-family: 'Didact Gothic', sans-serif;
}

hr {
  border: none;
  border: 0px;
  border-top: 2px solid rgba(255, 255, 255, 1);
  margin-top: 25px;
  margin-right: 25px;
}

header {
  width: 100%;
  height: 110px;
  background: rgba(150, 163, 183, 1);
  overflow: hidden;
}

.menubar {
  text-align: center;
}

.menubar ul {
  list-style: none;
  display: block;
}

.menubar ul li {
  float: left;
  margin: 0px 25px;
}

.menubar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.menubar li a:hover {
  border-bottom: 2px solid rgb(255, 42, 0);
}
